.footer {
    background-color: #faf8f8;
    color: rgb(20, 19, 19);
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
  }
  
  .footer-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .footer-links a,
  .footer-social a {
    margin: 0 10px;
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover,
  .footer-social a:hover {
    color: #fff;
  }
  